<?xml version="1.0" ?>
<model>
    <name>Start Gate</name>
    <version>1.0</version>
    <sdf version="1.6">start_gate.sdf</sdf>
    <author>
        <name>Mike Fleming</name>
        <email>michael201193@gmail.com</email>
    </author>
    <description>Startgate with 3" OD PVC with a 2" OD PVC divider</description>
</model>
